.Qrcode-reader{
    display: flex;
    flex: 1;
    flex-direction: column;
    border-right: 1px solid black;
}

.Qrcode-camera{
    height: 300px;
    width: 300px;
    margin: 20px;
}

.Scanned-qr{
    word-wrap: normal;
    margin: 20px;
}

.Gen-Heading{
    margin: 20px;
    font-size: 25px;
}